## Homework Assignment 2: Find all dividends

### Data Preparation

Use the 6 stocks ['IBM', 'MSFT', 'GOOG', 'AAPL', 'AMZN', 'FB'] historical data from homework assignment 2.

### Load the data to dataframes

You will have 6 dataframes.

### Understand how to compute the dividends

There are two columns in each csv file, "Close" and "Adj Close". If we compute the ratio of previous day's "Close" price and today's "Close" price, then compare with the ratio of previous day's "Adj Close" price and today's "Adj Close" price, on most of days, the two ratios should be equal. On dividend day, the two ratios will have a difference. The difference times today's "Close" price, you will get the dividend. As the example below, you should be able to use the method to reproduce the $1.5 dividend on 2/8/2018.


### The result

You result will have 6 dataframes, each of them have two columns, Date and Dividend. The dataframe should only have the rows that represent the divident day and amount.

### Submit

Due in one week from today.

Submit your jupyter notebook file and HTML format with all intermediate results and the final dataframe.

In [1]:
library(data.table)
library(dplyr)
library(R.utils)

Warning message:
"package 'data.table' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:data.table':

    between, first, last

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Warning message:
"package 'R.utils' was built under R version 3.6.3"Loading required package: R.oo
Warning message:
"package 'R.oo' was built under R version 3.6.3"Loading required package: R.methodsS3
Warning message:
"package 'R.methodsS3' was built under R version 3.6.3"R.methodsS3 v1.8.1 (2020-08-26 16:20:06 UTC) successfully loaded. See ?R.methodsS3 for help.
R.oo v1.24.0 (2020-08-26 16:11:58 UTC) successfully loaded. See ?R.oo for help.

Attaching package: 'R.oo'

The following object is masked from 'package:R.methodsS3':

    throw

The following objects are masked from 'package:methods':

    getClasses, getMethods

The following objects are masked from 'package:base':

    attach, detach, load, save

R.utils v2.10.1 (2020-08-26 22:50:31 UTC) successfully loaded. See ?R.utils for help.

Attaching package: 'R.utils'

The following object is masked from 'package:utils':

    timestamp

The following objects are masked from 'package:base':

    cat, commandArgs, getOption, inherits, isOpen, nullfile, parse,
    warnings

In [2]:
IBM_df = read.csv("IBM.csv")
AAPL_df = read.csv("AAPL.csv")
GOOG_df = read.csv("GOOG.csv")
MSFT_df = read.csv("MSFT.csv")
AMZN_df = read.csv("AMZN.csv")
FB_df = read.csv("FB.csv")
head(AAPL_df,2)
head(GOOG_df,2)
head(MSFT_df,2)
head(AMZN_df,2)
head(FB_df,2)

  Date       Open    High    Low    Close   Adj.Close Volume
1 2018-01-02 42.5400 43.0750 42.315 43.0650 41.38024  102223600
2 2018-01-03 43.1325 43.6375 42.990 43.0575 41.37303  118071600

  Date       Open    High    Low     Close   Adj.Close Volume
1 2018-01-02 1048.34 1066.94 1045.23 1065.00 1065.00   1237600
2 2018-01-03 1064.31 1086.29 1063.21 1082.48 1082.48   1430200

  Date       Open  High  Low   Close Adj.Close Volume
1 2018-01-02 86.13 86.31 85.50 85.95 82.38364  22483800
2 2018-01-03 86.06 86.51 85.97 86.35 82.76704  26061400

  Date       Open   High    Low     Close   Adj.Close Volume
1 2018-01-02 1172.0 1190.00 1170.51 1189.01 1189.01   2694500
2 2018-01-03 1188.3 1205.49 1188.30 1204.20 1204.20   3108800

  Date       Open   High   Low    Close  Adj.Close Volume
1 2018-01-02 177.68 181.58 177.55 181.42 181.42    18151900
2 2018-01-03 181.88 184.78 181.33 184.67 184.67    16886600

In [3]:
#ratio of previous day's "Close" price and today's "Close" price
Close_Ratio = mutate(IBM_df, Close_ratio=round(IBM_df[2:250,"Close"],digits=5)/round(IBM_df[1:250,"Close"],digits=5))
Adj_Ratio = mutate(IBM_df, Adj_ratio=round(IBM_df[2:250,"Adj.Close"],digits=5)/round(IBM_df[1:250,"Adj.Close"],digits=5))

Warning message in round(IBM_df[2:250, "Close"], digits = 5)/round(IBM_df[1:250, :
"longer object length is not a multiple of shorter object length"Warning message in round(IBM_df[2:250, "Adj.Close"], digits = 5)/round(IBM_df[1:250, :
"longer object length is not a multiple of shorter object length"

In [12]:
#ratio of previous day's "Close" price and today's "Close" price
IBM_df_N= IBM_df%>%
    mutate(Close_ratio=round(IBM_df[2:250,"Close"],digits=1)/round(IBM_df[1:250,"Close"],digits=1))%>%
    mutate(Adj_ratio=round(IBM_df[2:250,"Adj.Close"],digits=1)/round(IBM_df[1:250,"Adj.Close"],digits=1))%>%
    mutate(Diff = abs(Close_ratio-Adj_ratio))%>%
    mutate(Date = IBM_df_N[,"Date"], Dividend = round(IBM_df_N[,"Diff"]*IBM_df[2:250,"Close"],digits=1))
div_days=filter(IBM_df_N,Diff!=0)
head(arrange(div_days,desc(Dividend)))

Warning message in round(IBM_df[2:250, "Close"], digits = 1)/round(IBM_df[1:250, :
"longer object length is not a multiple of shorter object length"Warning message in round(IBM_df[2:250, "Adj.Close"], digits = 1)/round(IBM_df[1:250, :
"longer object length is not a multiple of shorter object length"Warning message in IBM_df_N[, "Diff"] * IBM_df[2:250, "Close"]:
"longer object length is not a multiple of shorter object length"

  Date       Open   High   Low    Close  Adj.Close Volume   Close_ratio
1 2018-12-28 114.22 114.80 112.50 113.03 102.4823   5117500 1.4026549
2 2018-05-08 143.00 143.51 142.06 143.00 125.2661   5369100 0.9972028
3 2018-08-08 147.33 147.43 146.24 146.89 130.1021   3581100 0.9857046
4 2018-11-07 123.79 125.06 122.33 124.84 111.7667  12382700 0.9887821
5 2018-02-07 154.17 155.34 153.28 153.85 133.4566   6149200 0.9590643
6 2018-01-25 165.91 166.78 165.19 165.47 143.5363   3302500 1.0108761
  Adj_ratio Diff        Dividend
1 1.3414634 0.061191453 9.7
2 1.0079808 0.010778049 1.5
3 0.9961568 0.010452242 1.5
4 1.0008945 0.012112403 1.5
5 0.9685393 0.009474998 1.4
6 1.0118467 0.000970557 0.2

In [29]:
AAPL_df_N=AAPL_df %>%
    mutate(Close_ratio=AAPL_df[2:250,"Close"]/AAPL_df[1:250,"Close"])%>%
    mutate(Adj_ratio=AAPL_df[2:250,"Adj.Close"]/AAPL_df[1:250,"Adj.Close"])%>%
    mutate(Diff = Close_ratio-Adj_ratio)
div_days=filter(AAPL_df_N,Diff>0)
frame_AAPL = transmute(div_days,Date = div_days[,"Date"], Dividend = round(div_days[,"Diff"]*1.5,digits=5))
head(arrange(frame_AAPL,desc(Dividend)),4)

Warning message in AAPL_df[2:250, "Close"]/AAPL_df[1:250, "Close"]:
"longer object length is not a multiple of shorter object length"Warning message in AAPL_df[2:250, "Adj.Close"]/AAPL_df[1:250, "Adj.Close"]:
"longer object length is not a multiple of shorter object length"

  Date       Dividend
1 2018-12-28 0.02446
2 2018-01-05 0.00000
3 2018-01-09 0.00000
4 2018-01-11 0.00000

In [30]:
GOOG_df_N=GOOG_df %>%
    mutate(Close_ratio=GOOG_df[2:250,"Close"]/GOOG_df[1:250,"Close"])%>%
    mutate(Adj_ratio=GOOG_df[2:250,"Adj.Close"]/GOOG_df[1:250,"Adj.Close"])%>%
    mutate(Diff = Close_ratio-Adj_ratio)
div_days=filter(GOOG_df_N,Diff>0)
frame_GOOG = transmute(div_days,Date = div_days[,"Date"], Dividend = round(div_days[,"Diff"]*1.5,digits=5))
head(arrange(frame_GOOG,desc(Dividend)),4)

Warning message in GOOG_df[2:250, "Close"]/GOOG_df[1:250, "Close"]:
"longer object length is not a multiple of shorter object length"Warning message in GOOG_df[2:250, "Adj.Close"]/GOOG_df[1:250, "Adj.Close"]:
"longer object length is not a multiple of shorter object length"

     Date Dividend

In [31]:
MSFT_df_N=MSFT_df %>%
    mutate(Close_ratio=MSFT_df[2:250,"Close"]/MSFT_df[1:250,"Close"])%>%
    mutate(Adj_ratio=MSFT_df[2:250,"Adj.Close"]/MSFT_df[1:250,"Adj.Close"])%>%
    mutate(Diff = Close_ratio-Adj_ratio)
div_days=filter(MSFT_df_N,Diff>0)
frame_MSFT = transmute(div_days,Date = div_days[,"Date"], Dividend = round(div_days[,"Diff"]*1.5, digits=5),4)
head(arrange(frame_MSFT,desc(Dividend)),4)

Warning message in MSFT_df[2:250, "Close"]/MSFT_df[1:250, "Close"]:
"longer object length is not a multiple of shorter object length"Warning message in MSFT_df[2:250, "Adj.Close"]/MSFT_df[1:250, "Adj.Close"]:
"longer object length is not a multiple of shorter object length"

  Date       Dividend 4
1 2018-12-28 0.02196  4
2 2018-01-04 0.00000  4
3 2018-01-08 0.00000  4
4 2018-01-10 0.00000  4

In [33]:
AMZN_df_N=AMZN_df %>%
    mutate(Close_ratio=AMZN_df[2:250,"Close"]/AMZN_df[1:250,"Close"])%>%
    mutate(Adj_ratio=AMZN_df[2:250,"Adj.Close"]/AMZN_df[1:250,"Adj.Close"])%>%
    mutate(Diff = Close_ratio-Adj_ratio)
div_days=filter(AMZN_df_N,Diff>0)
frame_AMZN = transmute(div_days,Date = div_days[,"Date"], Dividend = round(div_days[,"Diff"]*1.5,digits=5))
head(arrange(frame_AMZN,Dividend),4)

Warning message in AMZN_df[2:250, "Close"]/AMZN_df[1:250, "Close"]:
"longer object length is not a multiple of shorter object length"Warning message in AMZN_df[2:250, "Adj.Close"]/AMZN_df[1:250, "Adj.Close"]:
"longer object length is not a multiple of shorter object length"

     Date Dividend

In [34]:
FB_df_N=FB_df %>%
    mutate(Close_ratio=FB_df[2:250,"Close"]/FB_df[1:250,"Close"])%>%
    mutate(Adj_ratio=FB_df[2:250,"Adj.Close"]/FB_df[1:250,"Adj.Close"])%>%
    mutate(Diff = Close_ratio-Adj_ratio)
div_days=filter(FB_df_N,Diff!=0)
frame_FB = transmute(div_days,Date = div_days[,"Date"], Dividend = round(div_days[,"Diff"]*1.5,digits=5))
head(arrange(frame_FB,Dividend),4)

Warning message in FB_df[2:250, "Close"]/FB_df[1:250, "Close"]:
"longer object length is not a multiple of shorter object length"Warning message in FB_df[2:250, "Adj.Close"]/FB_df[1:250, "Adj.Close"]:
"longer object length is not a multiple of shorter object length"

     Date Dividend

In [1]:
class(frame_FB$Dividend)
sss=seq(1,5,by = 0.5)
sss
class(sss)
S= cbind(sss)
S
class(S)
S1= data.frame(S)
class(S1)
Ar = arrange(S1,sss)
Ar

ERROR: Error in eval(expr, envir, enclos): object 'frame_FB' not found

In [2]:
ll=list()
ll[["gg"]]=5
ll

$gg
[1] 5